In [37]:
# 0. bs4 모듈의 BeautifulSoup 클래스 사용
import pandas as pd
import requests
from bs4 import BeautifulSoup
from time import sleep

In [5]:
#1. 웹(html) 문서 불러오기
# 1-1 다운받아 놓은 웹 문서 불러오기
file = open('html/index.html',encoding = 'utf-8')
read = file.read()
file.close()

print(type(read))
print(read[:60])

<class 'str'>
<html lang = 'ko'>
	<head>
		<title> 명창연의 홈페이지입니다.</title>

In [7]:
#2. 웹문서의 내용(str, 문자열)을 분석가능한 객체(bs4.BeautifulSoup) 생성(변수는 tag로 지정)
html = BeautifulSoup(read, 'html.parser')
print(type(html))

<class 'bs4.BeautifulSoup'>

In [14]:
#3. find, find_all 메소드 등을 이용하여 특정한 <tag> 블럭 조회
title = html.find('title')
print(type(title))
print('사이트제목:',title.text)

<class 'bs4.element.Tag'>
사이트제목:  명창연의 홈페이지입니다.

In [20]:
li_list = html.find_all('li')

In [22]:
for li in li_list:
    print(li.text) #.text를 넣으면 text만 뽑아준다.

game
travel
movie
cleaning
arrangement
punishment

In [27]:
datas=[]
for li in li_list:
    datas.append(li.text)
    
datas

['game', 'travel', 'movie', 'cleaning', 'arrangement', 'punishment']

In [28]:
# 위의 것은 좋아하는것 싫어하는 것 구분이 안되므로 이를 구분할 필요가 있음. 
# 그러므로 2차원으로 만들어야 한다.

In [35]:
ul_list = html.find_all('ul')

for ul in ul_list:
    li_list = ul.find_all('li')
    for li in li_list:
        print(li)
        print('------------------------')
    print('=============================')

<li>game</li>
------------------------
<li>travel</li>
------------------------
<li>movie</li>
------------------------
=============================
<li>cleaning</li>
------------------------
<li>arrangement</li>
------------------------
<li>punishment</li>
------------------------
=============================

In [39]:
ul_list = html.find_all('ul')

rows = []
for ul in ul_list:
    li_list = ul.find_all('li')
    row = []
    print(row)
    for li in li_list:
        data = li.text
        row.append(data)
        print(row)
        sleep(1)
    rows.append(row)
    print(rows)

rows

[]
['game']
['game', 'travel']
['game', 'travel', 'movie']
[['game', 'travel', 'movie']]
[]
['cleaning']
['cleaning', 'arrangement']
['cleaning', 'arrangement', 'punishment']
[['game', 'travel', 'movie'], ['cleaning', 'arrangement', 'punishment']]

[['game', 'travel', 'movie'], ['cleaning', 'arrangement', 'punishment']]

In [ ]:
#table html 불러와서 열기

In [71]:
file = open('html/table.html', 'r', encoding = 'utf-8')
read = file.read()
file.close()

html = BeautifulSoup(read, 'html.parser')

html.find('td')
#thead를 불러오지 않기 위해서, 
#html.find('table'),find('tbody').find_all('tr') 형식으로 불러온다.
#그런데, find('table').find('tbody')는 하나 밖에 없으므로 생략 가능

tr_list = html.find('table').find('tbody').find_all('tr')

for tr in tr_list:
    td_list = tr.find_all('td')
    

    for td in td_list:
        print(td.text)
        print('------------')

    print('================')

hong
------------
홍길동
------------
23
------------
경기
------------
================
hwang
------------
황진이
------------
25
------------
서울
------------
================
dog
------------
멍멍이
------------
5
------------
서울
------------
================
cat
------------
야옹이
------------
3
------------
울룽
------------
================

In [79]:
tr_list = html.find('table').find('tbody').find_all('tr')

rows=[]
for tr in tr_list:
    td_list = tr.find_all('td')
    row = []
    for td in td_list:
        data = td.text
        row.append(data)
    rows.append(row)
rows

[['hong', '홍길동', '23', '경기'],
 ['hwang', '황진이', '25', '서울'],
 ['dog', '멍멍이', '5', '서울'],
 ['cat', '야옹이', '3', '울룽']]

In [83]:
df = pd.DataFrame(rows,columns=['id','name','age','addr'])
df.set_index('id',inplace=True)

In [84]:
df

      name age addr
id
hong   홍길동  23   경기
hwang  황진이  25   서울
dog    멍멍이   5   서울
cat    야옹이   3   울룽