In [1]:
import pandas as pd
import requests
import os
from bs4 import BeautifulSoup
from time import sleep

In [4]:
df = pd.read_csv('csv/auto-mpg.csv')
df
# 전체 데이터의 내용 중 일부분을 출력
# df.head(n) : 데이터프레임의 앞부분, 행수 생략시 기본은 5행 출력
#              데이터의 전체적인 모양, 필드의 구성 확인
# df.tail(n) : 가장 마지막에 추가된 데이터 확인

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [5]:
# 함수 기본 값 정의
def buy(count):
    print(f'물건은 {count}개')

In [7]:
buy(5)

물건은 5개

In [11]:
def buy1(count=3): #default 정의
    print(f'물건은 {count}개')

In [13]:
buy1()

물건은 3개

In [14]:
#전체 데이터 수량(크기)
#df.shape : 데이터프레임의 행(데이터수)과 열(컬럼=속성)
#         : 데이터의 수량과 각 데이터들을 몇 개의 특징(속성)으로 구분해서 저장
df.shape

(398, 9)

In [22]:
diff = pd.DataFrame([['int','int64'],
                     ['float','float64'],
                     ['str','object']],
                     columns = ['python','pandas'],
                     index = ['정수','실수','문자열'])
diff

    python   pandas
정수     int    int64
실수   float  float64
문자열    str   object

In [16]:
df.info() # 전체 컬럼별 이름과 컬럼에 저장된 데이터수량과 데이터타입 df.info와는 다름
# horsepower 가 object? 무언가, 정수/실수가 아닌 것이 들어 있다라고 의심해봐야 함.
# 부족한 데이터수량을 갖는 컬럼이 있는가?
# 저장된 데이터 타입에 문제가 있는가?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [23]:
a = df.info() # info() 메소드는 반환값이 없는 출력만 목적으로 하는 함수

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [25]:
print(a) # info() 메소드는 반환값이 없는 출력만 목적으로 하는 함수

None

In [34]:
# info() 메소드 대신, 데이터수량이나 데이터 타입을 반환하는 함수
count = df.count()
print(count - 398) # 이게 0이라는 것은 누락된 데이터가 없다는 뜻, 필드가 많을때는 이렇게 본다.
print()
print(df.dtypes) # 반환값을 이용하여 코드에 활용하고 싶을때는 info() 대신 count()나 dtype를 사용하면 된다.
# dtypes는 dtypes()가 아니다. 변수 속성은 ()가 안붙고, 함수 속성은 ()가 붙는다. 이건 써봐야 안다.

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [17]:
df.info

<bound method DataFrame.info of       mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
..    ...        ...           ...        ...     ...           ...
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin                   car name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
393          82       1            ford mustang gl
394          82       2                  vw pickup
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[398 rows x 9 columns]>

In [36]:
#기술통계량(평균(mean, 최소값, 중간값(median), 최대값), 표준편차)
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [43]:
df.mpg.mean()

23.514572864321607

In [45]:
df[['mpg','cylinders','weight','acceleration']].mean()

mpg               23.514573
cylinders          5.454774
weight          2970.424623
acceleration      15.568090
dtype: float64

In [47]:
#df.min()
#df.median()
#df.max()

columns = ['mpg','cylinders','weight','acceleration']
min = df[columns].min()
med = df[columns].median()
max = df[columns].max()

In [48]:
min,med,max

(mpg                9.0
 cylinders          3.0
 weight          1613.0
 acceleration       8.0
 dtype: float64,
 mpg               23.0
 cylinders          4.0
 weight          2803.5
 acceleration      15.5
 dtype: float64,
 mpg               46.6
 cylinders          8.0
 weight          5140.0
 acceleration      24.8
 dtype: float64)

In [49]:
pd.DataFrame({'min':min,'med':med,'max':max})

                 min     med     max
mpg              9.0    23.0    46.6
cylinders        3.0     4.0     8.0
weight        1613.0  2803.5  5140.0
acceleration     8.0    15.5    24.8

In [50]:
pd.DataFrame({'min':min,'med':med,'max':max}).T

      mpg  cylinders  weight  acceleration
min   9.0        3.0  1613.0           8.0
med  23.0        4.0  2803.5          15.5
max  46.6        8.0  5140.0          24.8